extends layout

block content
    h1= title
    p Showing analytics for...

    ul
        - for(i = 0; i < dataList.length; i++) {
            li= dataList[i] + ', ' + items[i]['properties']['Event Details']
        - }